@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

.edu{ font-family: "Edu VIC WA NT Beginner", cursive;}

.center {
 text-align: center;
}

.article-gap {
 height: 80px;
}

.navbar {
 padding: 60px;
}

.introsection {
 color: #fef6e6;
 background-color: #232323;
}

.navbar-brand {
 font-weight: bold;
 text-decoration: underline;
}

.blockquote-footer {
 font-size: 50%;
 color: #fef6e6;
 font-family: "Roboto", sans-serif;
 font-weight: 300;
}

th, td {
 border: 1px solid;
 padding: 10px;
}

.reading p {
 font-size: 20px;
}

.about-brand {
 font-size: 5rem;
}

.map iframe { height: 600px; }

/* start of hoverable dropdown menu */
.dropdown:hover .dropdown-menu {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 box-sizing: border-box;
}
.dropdown-menu:hover {
 background-color: #ddd;
}
a {
 cursor: pointer;
 text-decoration: none;
 color: #232323;
}
/* end of hoverable dropdown menu */

/* end of index's front section */


h1, .navbar-brand {
 font-family: 'Times New Roman', Times, serif;
 font-weight: 700;
}

.h1-span {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 2rem;
 font-weight: 400;
 color: #ea8f10;
}

.btn {
 background-color: #ea8f10;
 color: #232323;
}

#inspiring-things {
 padding: 80px;
}

#inspiring-things h2 {
 font-family: 'Times New Roman', Times, serif;
 font-weight: 700;
 font-size: 400%;
}

#inspiring-things ul {
 font-size: 120%;
 font-family: "Roboto", sans-serif;
}

#testimonials {
 padding: 80px;
 background-color: #fef6e6;
}

img[alt="Rider Waite Tarot Deck for Beginners"] {
 width: 400px;
}
.shopping-btn {
 background-color: #ea8f10;
 padding: 20px;
 border-radius: 20px;
 text-align: center;
 font-weight: 700;
}
.draggable {
 display: block;
 overflow: hidden;
}
.smooth-scrolling{
 scroll-behavior: smooth !important;
}
.draggable-inner {
 pointer-events: none;
 display: flex;
 gap: 20px;
}
.item img {
 height: 150px;
}

@media only screen and (max-width: 500px) {
 .about-brand {
  font-size: 50px;
  height: 50vh;
  width: 100%;
 }
 .who { margin: 0; padding: 0; }
 .mob-who { padding: 0; margin: 0; width: 100%; font-size: small; }
 th, td {
  display: table-cell;
  font-size: small;
  padding: 2px;
 }
 caption { font-size: small;}

 .book { width: 100%; margin: 0; padding: 0;}
 .book p { font-size: small; }

 .reading { display: flex; flex-wrap: wrap; }
 .reading .col-6 { width: 100%; }
 .reading .col-6 p { font-size: small; text-align: center; }
 .reading .col-6 .roboto-medium-spacing { font-size: small; text-align: center; }
 .reading .col-6 ol { font-size: small; }

 h1 { font-size: x-large; }
 .map iframe { height: 100%; display: block;}
}